/*Login layout*/
.page-layout-admin-login {
    background: #252620 !important;
}

.page-layout-admin-login .admin__legend{
    color: #434ead !important;
}

a.action-forgotpassword{
    color: #434ead !important;
}

/*button primary*/
.action-primary,
.abs-action-primary,
button.primary,
.page-actions > button.action-primary,
.page-actions .page-actions-buttons > button.action-primary,
.page-actions > button.primary,
.page-actions .page-actions-buttons > button.primary,
.block-footer .action-add.primary,
.page-actions > .block-footer .action-add.action-primary,
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary,
.page-actions > .block-footer .action-add.primary,
.page-actions .page-actions-buttons > .block-footer .action-add.primary,
.page-actions-buttons button.ordersuccess-current {
    background-color: #434ead !important;
    border-color: #434ead !important;
    color: #fff !important;
    text-shadow: none !important;
}

/*button hover, active, focus*/
.action-primary:hover,
.action-primary:active,
.action-primary:focus,
.abs-action-primary:hover,
.abs-action-primary:active,
.abs-action-primary:focus,
button.primary:hover,
button.primary:active,
button.primary:focus,
.page-actions > button.action-primary:hover,
.page-actions > button.action-primary:active,
.page-actions > button.action-primary:focus,
.page-actions .page-actions-buttons > button.action-primary:hover,
.page-actions .page-actions-buttons > button.action-primary:active,
.page-actions .page-actions-buttons > button.action-primary:focus,
.page-actions > button.primary:hover,
.page-actions > button.primary:active,
.page-actions > button.primary:focus,
.page-actions .page-actions-buttons > button.primary:hover,
.page-actions .page-actions-buttons > button.primary:active,
.page-actions .page-actions-buttons > button.primary:focus,
.block-footer .action-add.primary:hover,
.block-footer .action-add.primary:active,
.block-footer .action-add.primary:focus,
.page-actions > .block-footer .action-add.action-primary:hover,
.page-actions > .block-footer .action-add.action-primary:active,
.page-actions > .block-footer .action-add.action-primary:focus,
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary:hover,
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary:active,
.page-actions .page-actions-buttons > .block-footer .action-add.action-primary:focus,
.page-actions > .block-footer .action-add.primary:hover,
.page-actions > .block-footer .action-add.primary:active,
.page-actions > .block-footer .action-add.primary:focus,
.page-actions .page-actions-buttons > .block-footer .action-add.primary:hover,
.page-actions .page-actions-buttons > .block-footer .action-add.primary:active,
.page-actions .page-actions-buttons > .block-footer .action-add.primary:focus{
    background-color: #363082 !important;
    border-color: #363082 !important;
}

/*font primary color*/
.page-layout-admin-login .admin__legend,
.dashboard-totals-item:first-child .price,
.dashboard-item-primary:first-child .dashboard-sales-value{
    color: #434ead !important;
}